<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443920664080-3g8j50cgpt57ers34fns346bko72sojc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443920664080-3g8j50cgpt57ers34fns346bko72sojc</string>
	<key>API_KEY</key>
	<string>AIzaSyA5csZ9z-nOAvX0Aw2OJ01-kJlTAMvkSD4</string>
	<key>GCM_SENDER_ID</key>
	<string>443920664080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ECommerceApp</string>
	<key>PROJECT_ID</key>
	<string>mygroceryapp-67e5f</string>
	<key>STORAGE_BUCKET</key>
	<string>mygroceryapp-67e5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443920664080:ios:f02e4c138be6d7c5e5ac95</string>
</dict>
</plist>